<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.6.4.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body onselectstart = “return false”>

    @{ 
        Makale_Entities.Kullanici kul = null; 

        if (Session["Login"]!= null) // eğer session boş değilse kullanıcıyı alıyoruz session dan. Bu sayede kullanıcı ismini yazdırabiliyoruz
        {
            kul = Session["Login"] as Makale_Entities.Kullanici;
        }
    }

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Makale Web</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-wrench"></span> Yönetim</a>
                    </li>
                    <li>
                        <a href="/Home/EnBegenilenler"><span class="glyphicon glyphicon-heart"></span> En Beğenilenler</a>
                    </li>
                    <li>
                        <a href="/Home/Sonyazilar"><span class="glyphicon glyphicon-list"></span> SonYazılar</a>
                    </li>

                    <li>
                        <a href="/Home/Hakkimizda"><span class="glyphicon glyphicon"></span> Hakkımızda</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-phone"></span> İletişim</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*Session dan gelen bilgiye göre bunlardan ikisi gözükecek*@

                    @{ 
                        if (kul == null)
                        {
                            <li><a href="/Home/Giris"><span class="glyphicon glyphicon-log-in">   </span> Giriş</a></li>
                            <li><a href="/Home/Kayıt"><span class="glyphicon glyphicon-user"></span> Kayıt Ol</a></li>

                        }
                        else
                        {
                            <li><a href="#"><span class="glyphicon glyphicon-user">   </span> @kul.KullaniciAdi</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-out">   </span> Çıkış</a></li>
                        }

                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->

    <div class="container">

       

        <!-- Footer -->
        <footer class="small" >
            <hr>
            <div class="row small">
                <div class="col-lg-4 text-center">
                    <h5><b>Site Haritası</b></h5>
                    <hr />
                    <a href="/Home/EnBegenilenler"> <span class="glyphicon glyphicon-heart"> En beğenilenler </span> </a>
                    <br />
                    <a href="/Home/Sonyazilar"> <span class="glyphicon glyphicon-list"> Son Yazılanlar </span> </a>

                </div>

                <div class="col-lg-4 text-center">
                    <h5><b>Site Haritası</b></h5>
                    <hr />
                    <div class="col-md-12">

                        <p>Tüm hakları saklıdır &copy; MakaleWeb @DateTime.Now.Year</p>

                    </div>
                </div>

                <div class="col-lg-4">

                    <h5><b>E-bülten üyeliği</b></h5>
                    <hr />
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="E-Posta Adresiniz..">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Katıl!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->



</body>

</html>
