
<div class="media">
    <div class="media-left media-middle">
        @*<a href="#">
            <img class="media-object" src="..." alt="...">
        </a>*@

        <div class="media-object">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
    </div>

    <div class="media-body">
        <div>
            <span class="col-md-10">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</span>

            <span class="col-md-2">
                <button type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span>Değiştir</button>
                <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>Sil</button>
            </span>

            <small class="col-md-12">
                <span class=" glyphicon glyphicon-user">Kullanıcı adı</span>
                <span class=" glyphicon glyphicon-time">zaman</span>
            </small>

        </div>
    </div>
</div>
