@using MakaleBLL;
@using Makale_Entities;
@{
    KategoriYonet ky = new KategoriYonet();
    List<Kategori> kategoriListesi = ky.Listele();
}

<p class="lead">Kategoriler</p> @*PartialpageKAtegori den geldim*@

<div class="list-group">
    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-filter"></span> Tümü</a>
    @foreach (var item in kategoriListesi)
    {
        <a href="/Home/SecilenKategori/@item.Id" class="list-group-item"><span class="glyphicon glyphicon-filter"></span> @item.Baslik</a>
    }

</div>