@using MakaleBLL;
@using Makale_Entities;
@model List<Kategori>
@*gelen modelin tipini yazdık karşılasın diye*@



<p class="lead"> Kategoriler kat2 den geldim</p>

<div class="list-group">

    <a href="#" class=" list-group-item">Category 1</a>
    <a href="#" class=" list-group-item">Category 2</a>
    <a href="#" class=" list-group-item">Category 3</a>
</div>