
@{
    ViewBag.Title = "HesapAktiflestir";
}

<link href="~/Content/login.css" rel="stylesheet" />
<br />
<section class="login-info">

    <div class="container">

        <div class="row main">

            <div class="form-header">
                <h1 class="text-center ">Giriş Sayfasına Yönlendirme..</h1>
            </div>

            <div class="main-content">

                <div class="text-success">

                    <h2>Hesap Aktifleştirildi</h2>

                    <p class="text-justify"> Hesabınız aktifleştirildi. Makale ve yorum yazmaya başlayabilir, mevcut makaleleri beğenebilirsiniz.</p>
                </div>

            </div>

        </div>

    </div>
</section>

<script>
    //$(function () // sAyfa yüklendiğinde
    //{
    //    $("footer").hide(); // $("footer").parent().hide(); footer un parent ini gizle demek. footer ın olduğu div i gizledi.


    //})
</script>
